<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
<div class="container">
    <img src="../static/kuromi1.png" alt="Kuromi">
    <h1> 🎀 Logar 💀 </h1>
    <form action="#" method="POST">
        <input type="number" name="tel" placeholder="Telefone" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Logar</button>
    </form>
</div>
</body>
</html>
